.create {
    margin: 30px 30px 30px 130px;
    max-width: 1320px;
}

.create-user {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
}

.form-input {
    width: 200px;
}

.create-btn {
    width: 150px;
    margin-top: 20px;
}

.alert {
    color: red;
}