
<div class="create">
    <h1>CREATE USER FORM</h1>
    <form class="create-user" 
    [formGroup]="form" 
    (ngSubmit)="submitForm()">
        <p>Title</p>
        <input type="text" class="form-input" formControlName="title">
        <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)" class="alert">
            <div *ngIf="form.controls['title'].errors">ИМЯ ВВЕДЕНО НЕПРАВИЛЬНО</div>
        </div>
        <p>UserId:</p>
        <input type="text" class="form-input" formControlName="userId">
        <div *ngIf="form.controls['userId'].invalid && (form.controls['userId'].dirty || form.controls['userId'].touched)" class="alert">
            <div *ngIf="form.controls['userId'].errors">EMAIL ВВЕДЕН НЕПРАВИЛЬНО</div>
        </div>
        <p>Completed:</p>
        <input type="text" class="form-input" formControlName="completed">
        <div *ngIf="form.controls['completed'].invalid && (form.controls['completed'].dirty || form.controls['completed'].touched)" class="alert">
            <div *ngIf="form.controls['completed'].errors">WEBSITE ВВЕДЕН НЕПРАВИЛЬНО</div>
        </div>
        <button class="create-btn" [disabled]="form.invalid">CREATE USER</button>
    </form>
</div>

