<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__container-wrapper">
        <div class="footer__contacts">
          <img src="assets/Frame(1).svg" class="footer__logo" alt="логотип" width="59px" height="39px">
          <div class="footer__contacts-wrapper1">
            <div class="footer__contacts-wrapper">
              <div class="footer__contacts-icon">
                <img src="assets/Icon.svg" class="footer__contacts-icon">
              </div>
              <div class="footer__contacts-content">
                <span class="footer__contacts-title">Контактный телефон</span>
                <a class="footer__contacts-number" href="tel:+79197646576">+7 (919) 764-65-76</a>
                <a class="footer__contacts-number" href="tel:+79196414141">+7 (919) 641-41-41</a>
              </div>
            </div>
            <div class="footer__contacts-wrapper">
              <div class="footer__contacts-icon">
                <img src="assets/Icon1.svg" class="footer__contacts-icon">
              </div>
              <div class="footer__contacts-content">
                <span class="footer__contacts-title">Электронная почта</span>
                <a class="footer__contacts-mail" href="mailto:tustin78@mail.ru">tustin78#mail.ru</a>
                <a class="footer__contacts-mail" href="mailto:info@tustin.ru">info#tustin.ru</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__inline-vertical"></div>
        <div class="footer__email">
          <div class="footer__title-wrapper">
            <h3 class="footer__title">Остались вопросы?</h3>
            <p class="footer__label">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом
              ящике. Отпишитесь в любое время одним щелчком мыши.</p>
            <form class="footer__form-wrapper">
              <img src="assets/Icon1.svg" class="footer__input-icon">
              <input type="email" placeholder="Введите свою почту" class="footer__input">
              <button type="submit" class="footer__email-submit">Отправить</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer__inline-horizontal"></div>
      <div class="footer__navigation-wrapper">
        <nav class="footer__navigation">
          <button class="footer__btn">Главная</button>
          <button class="footer__btn">О компании</button>
          <button class="footer__btn">Каталог</button>
        </nav>
        <div class="footer__copyright-wrapper">
          <div class="footer__social-icons-wrapper">
            <img class="footer__social-icons" src="assets/Mini_Button.svg" alt="">
            <img class="footer__social-icons" src="assets/MiniButton.svg" alt="">
            <img class="footer__social-icons" src="assets/Social_Icons.svg" alt="">
          </div>
          <span class="footer__copyright">© 2021-2022, EDE</span>
        </div>
      </div>
    </div>
  </div>
</footer>
