
<div class="create">
    <h1>CREATE USER FORM</h1>
    <form class="create-user" 
    [formGroup]="form" 
    (ngSubmit)="submitForm()">
        <p>NAME:</p>
        <input type="text" class="form-input" formControlName="name">
        <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty && form.controls['name'].touched)" class="alert">
            <div *ngIf="form.controls['name'].errors">ИМЯ ВВЕДЕНО НЕПРАВИЛЬНО</div>
        </div>
        <p>EMAIL:</p>
        <input type="text" class="form-input" formControlName="email">
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty && form.controls['email'].touched)" class="alert">
            <div *ngIf="form.controls['email'].errors">EMAIL ВВЕДЕН НЕПРАВИЛЬНО</div>
        </div>
        <p>WEBSITE:</p>
        <input type="text" class="form-input" formControlName="website">
        <div *ngIf="form.controls['website'].invalid && (form.controls['website'].dirty && form.controls['website'].touched)" class="alert">
            <div *ngIf="form.controls['website'].errors">WEBSITE ВВЕДЕН НЕПРАВИЛЬНО</div>
        </div>
        <p>COMPANY NAME:</p>
        <input type="text" class="form-input" formControlName="companyName">
        <div *ngIf="form.controls['companyName'].invalid && (form.controls['companyName'].dirty && form.controls['companyName'].touched)" class="alert">
            <div *ngIf="form.controls['companyName'].errors">ИМЯ КОМПАНИИ ВВЕДЕНО НЕПРАВИЛЬНО</div>
        </div>
        <button class="create-btn" [disabled]="form.invalid">CREATE USER</button>
    </form>
</div>
