.inscription {
  margin: auto;
  max-width: 1320px;
  padding: 0 50px;
  padding-bottom: 10px;
  color: #F0BA4E;
  padding-top: 10PX;
}

.list-cards {
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 15px;
    box-shadow: 0px 20px 50px 0px #12112714;
    border: 1px solid #e5e5e5;
  }

  .key {
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #F0BA4E;
    background-color: white;
    margin-left: 23px;
    transform: translateY(+10px);
  }