.inscription {
  margin: auto;
  max-width: 1300px;
  padding-bottom: 10px;
  color: #F0BA4E; 
  padding-top: 10px;   
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1320px;
  padding-bottom: 10px;
}


